<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        
        html, body{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="h-full w-full bg-zinc-900 text-white ">
        <h1 class="text-3xl text-center tracking-tighter">Edit User</h1>
        <a href="/show" class="text-blue-400 ml-5 mt-5 ">Show users</a>
        <form action="/edit/<%= user._id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="newname" value="<%= user.name %>" class="w-55 p-2.5 m-2.5 h-10 rounded-lg bg-zinc-800 outline-none">
            <input type="text" name="newemail" value="<%= user.email %>" class="w-55 p-2.5 m-2.5 h-10 rounded-lg bg-zinc-800 outline-none">
            <input type="file" name="newimage"  class="w-55 p-2.5 m-2.5 h-10 rounded-lg bg-zinc-800 outline-none">
            <input type="submit" value="Update" class="bg-yellow-400 w-55 p-2.5 m-2.5 text-black font-bold rounded-lg">
        </form>
    </div>
</body>
</html>