<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        
        html, body{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="h-full w-full bg-zinc-900 text-white ">
        <h1 class="text-3xl text-center tracking-tighter">Login</h1>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email" class="w-55 p-2.5 m-2.5 h-10 rounded-lg bg-zinc-800 outline-none">
            <input type="password" name="password" placeholder="Password" class="w-55 p-2.5 m-2.5 h-10 rounded-lg bg-zinc-800 outline-none">
            <input type="submit" value="login" class="bg-blue-400 w-55 p-2.5 m-2.5 rounded-lg">
        </form>
    </div>
</body>
</html>